<div class="container-fluid" align = "center">
  <img src="<%=@vinyl.user_image.image.url%>" height="300" class="img-thumbnail">
  <h1><%=@vinyl.artist%></h1>
  <h1><%=@vinyl.album_name%></h1>
  <h1><%=@vinyl.record_label%></h1>
  <h1><%=@vinyl.year_released%></h1>
  <h1><%=@vinyl.genre%></h1>
  <a href='/user/<%=current_user.slug%>/<%=@vinyl.slug_artist%>/<%=@vinyl.slug_album%>/edit'>Edit</a>
</div><!--end container-fluid-->
