<div class = "container-fluid">
  <% @vinyl.each do |vinyl| %>
    <h3><a href="/user/<%= current_user.slug %>/<%= vinyl.slug_artist %>/<%= vinyl.slug_album%>"><%= vinyl.artist %> - <%= vinyl.album_name %></a></h3>
    <br>
    <br>
  <% end %>
</div><!--end container-fluid-->
