<div class="container" align="center">
  <h1><%=@user.username%>'s Vinyl Collection</h1>
</div><!--end container-->
<br>

<div class="container">
  <div class="row">
    <% if !@vinyls.empty? %>
      <% @vinyls.reverse.each do |vinyl| %>
        <div class="col-sm-3">
          <img src="<%=vinyl.user_image.image.url%>" height="300" class="thumbnail">
          <h3 align="center"><a href="/user/<%=current_user.slug%>/<%=vinyl.slug_artist%>"><%= vinyl.artist %></a></h3>
          <h3 align="center"><a href="/user/<%=current_user.slug%>/<%=vinyl.slug_artist%>/<%=vinyl.slug_album%>"><%= vinyl.album_name %></a></h3>
        </div><!--end col-sm-4-->
      <% end %>
    <% else %>
      <p> Please add vinyl's to your collection!</p>
    <% end %>
  </div><!-- end row-->
</div> <!-- end class container -->
