<h1><%=@user.username%></h1>

<% if @all_vinyls.empty?%>
  <h1>Welcome to your homepage</h1>
<% else %>
  <% @all_vinyls.each do |vinyl| %>
    <% @user_vinyl = Vinyl.find_by(id: vinyl.vinyl_id) %>
    <h2><%= @user_vinyl.artist %></h2>
    <h2><%= @user_vinyl.album_name %></h2>
    <h2><%= @user_vinyl.record_label %></h2>
    <h2><%= @user_vinyl.year_released %></h2>
    <h2><%= @user_vinyl.genre %></h2>
  <%end%>
<%end%>
