<div class="container-fluid">
  <form method="post" action="/database/<%=@dbvinyl.slug_artist%>/<%=@dbvinyl.slug_album%>/edit" enctype="multipart/form-data">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Artist: <input type="text" name="artist" value="<%=@dbvinyl.artist%>"></p>
    <p>Album Name: <input type="text" name="album_name" value="<%=@dbvinyl.album_name%>"></p>
    <p>Record Label: <input type="text" name="record_label" value="<%=@dbvinyl.record_label%>"></p>
    <p>Year: <input type="text" name="year_released" value="<%=@dbvinyl.year_released%>"></p>
    <p>Genre: <input type="text" name="genre" value="<%=@dbvinyl.genre%>"></p>
    <br>
    <img src="<%= @dbvinyl.image.image.url %>" height="300" class="img-thumbnail">
    <br><br>
    <input type="file" name="file" class='form-control'>
    <br><br>
    <input type="submit" value="Submit Edit">
  </form>
  <br>
  <form method="post" action="/database/<%=@dbvinyl.slug_artist%>/<%=@dbvinyl.slug_album%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Vinyl">
  </form>
</div><!--end container-fluid-->
