<% @dbvinyls.reverse.each do |vinyl| %>
  <h1>Artist: <a href='/database/<%=vinyl.slug_artist%>'><%= vinyl.artist %></a></h1>
  <h1>Album Name: <a href = '/database/<%=vinyl.slug_artist%>/<%=vinyl.slug_album%>'><%= vinyl.album_name %></a></h1>
  <h1>Created by: <%=User.find_by(id: vinyl.user_id).username%></h1>
  <h3><a href='/database/<%=vinyl.slug_artist%>/<%=vinyl.slug_album%>/edit'>Edit</a></h3>
<% end %>
