<div class="container-fluid" align="center">
  <h1>Created by: <%=User.find_by(id: @dbvinyl.user_id).username%></h1>
  <img src="<%= @dbvinyl.image.image.url %>" height ="250" class="thumbnail">
  <h1><%=@dbvinyl.artist%></h1>
  <h1><%=@dbvinyl.album_name%></h1>
  <h1><%=@dbvinyl.record_label%></h1>
  <h1><%=@dbvinyl.year_released%></h1>
  <h1><%=@dbvinyl.genre%></h1>
  <form method="POST" action="/user/add">
    <input type="hidden" name="artist" value="<%=@dbvinyl.artist%>">
    <input type="hidden" name="album" value="<%=@dbvinyl.album_name%>">
    <input type="submit" value="Add to Collection">
  </form>
  <% if current_user.id == @dbvinyl.user_id %>
    <p><a href='/database/<%=@dbvinyl.slug_artist%>/<%=@dbvinyl.slug_album%>/edit'>Edit</a></p>
  <% end %>
</div><!--end container-fluid-->
